<section class="about" id="about">
    <div class="content">
        <div class="container">
            <div class="img" style="background-image: url(img/1.jpg);"></div>
            <h3>About Me</h3>
            <p>Kamva is a photographer, filmmaker and founder of That Big Ace Productions, located in Johannesburg, South Africa. Take a look at my <a href="#gallery"><strong>portfolio</strong></a> to learn more about what I can do for you, and feel free to <a href="#contact"><strong>get in touch</strong></a> if you’d like to discuss a project.</p>
        </div>
    </div>
</section>