<section class="contact" id="contact">
    <div class="content">
        <h3>Contact</h3>
        <p class="message">Love to hear from you, please feel free to get in touch.</p>
        <form method="post" onsubmit="contactForm(this);return false;">
            <div class="form-res"></div>
            <div class="input-group" id="name-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name">
                <div class="res"></div>
            </div>
            <div class="input-group" id="email-group">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Email">
                <div class="res"></div>
            </div>
            <div class="input-group" id="phone-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="Phone">
                <div class="res"></div>
            </div>
            <div class="input-group" id="message-group">
                <label for="message">Message</label>
                <textarea name="message" cols="30" rows="6" placeholder="Message"></textarea>
                <div class="res"></div>
            </div>
            <button type="submit" id="contact-button">Send <i class="ri-arrow-right-line"></i></button>
        </form>
    </div>
</section>