<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-contacts">
                    <a href="mailto:thatbigace@gmail.com">thatbigace@gmail.com</a>
                    <a href="tel:27740262447">+27740262447</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-social-media">
                    <a href="https://m.facebook.com/thatbigaceproductions" target="_blank" rel="noopener noreferrer" class="facebook"><i class="ri-facebook-fill"></i></a>
                    <a href="https://www.instagram.com/thatbigaceproductions" target="_blank" rel="noopener noreferrer" class="instagram"><i class="ri-instagram-fill"></i></a>
                    <a href="https://www.youtube.com/channel/UC5qw1tcsRKNe2gKWWhSXOkQ" target="_blank" rel="noopener noreferrer" class="youtube"><i class="ri-youtube-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy;2023 That Big Ace Production
        </div>
    </div>
</footer>
<div class="whatsapp">
    <a href="https://wa.me/27123456789" target="_blank"><i class="ri-whatsapp-line"></i></a>
</div>
<div class="scroll-top" onclick="toTop()"><i class="ri-arrow-up-line"></i></div>