<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-contacts">
                    <a href="#">john.doe@mail.com</a>
                    <a href="#">0123456789</a>
                </div>
            </div>
            <div class="col">
                <div class="footer-social-media">
                    <a href="#" class="facebook"><i class="ri-facebook-fill"></i></a>
                    <a href="#" class="instagram"><i class="ri-instagram-fill"></i></a>
                    <a href="#" class="youtube"><i class="ri-youtube-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy;2022 That Big Ace Production
        </div>
    </div>
</footer>
<div class="whatsapp">
    <a href="https://wa.me/27123456789" target="_blank"><i class="ri-whatsapp-line"></i></a>
</div>
<div class="scroll-top" onclick="toTop()"><i class="ri-arrow-up-line"></i></div>