<section class="gallery" id="gallery">
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="https://www.youtube.com/watch?v=EmiCLvsXV_Q" class="video"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="img/1.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="https://www.youtube.com/watch?v=22AhnC2HtRg" class="video"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="img/1.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="https://www.youtube.com/watch?v=22AhnC2HtRg" class="video"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="img/1.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="https://www.youtube.com/watch?v=22AhnC2HtRg" class="video"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="img/1.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/1.jpg);">
        <a href="https://www.youtube.com/watch?v=22AhnC2HtRg" class="video"></a>
    </div>
</section>