<section class="gallery" id="gallery">
    <div class="item" style="background-image: url(img/gallery/1_thumb.jpg);">
        <a href="https://www.youtube.com/watch?v=jBV9ufNQ_t8" class="video"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/2_thumb.jpg);">
        <a href="img/gallery/2.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/3_thumb.jpg);">
        <a href="img/gallery/3.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/4_thumb.jpg);">
        <a href="img/gallery/4.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/5_thumb.jpg);">
        <a href="img/gallery/5.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/6_thumb.jpg);">
        <a href="img/gallery/6.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/7_thumb.jpg);">
        <a href="img/gallery/7.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/8_thumb.jpg);">
        <a href="img/gallery/8.jpg" class="image"></a>
    </div>
    <div class="item" style="background-image: url(img/gallery/9_thumb.jpg);">
        <a href="img/gallery/9.jpg" class="image"></a>
    </div>
</section>