<div class="social-media" data-aos="slide-right">
    <a href="#" class="facebook"><i class="ri-facebook-fill"></i></a>
    <a href="#" class="instagram"><i class="ri-instagram-fill"></i></a>
    <a href="#" class="youtube"><i class="ri-youtube-fill"></i></a>
</div>
<div class="contacts">
    <a href="#" data-aos="slide-up">john.doe@mail.com</a>
    <a href="#" data-aos="slide-up">0123456789</a>
</div>
<section class="hero" id="home">
    <div class="content">
        <h1 data-aos="slide-up">That Big Ace Production</h1>
        <ul data-aos="slide-up">
            <li>Filmaker</li>
            <li>Editor</li>
            <li>Photographer</li>
        </ul>
    </div>
    <div class="circle" data-aos="zoom-in"></div>
    <div class="img" data-aos="fade-up"><img src="img/camera.png" alt="camera" /></div>
</section>