<div class="theme-toggle" onclick="changeTheme(this)" data-aos="slide-down"></div>
<div class="navbar-open" onclick="openNavbar('.navbar')" data-aos="slide-down"><i class="ri-menu-2-line"></i></div>
<div class="navbar" data-aos="slide-down">
    <div class="navbar-close" onclick="closeNavbar('.navbar')"><i class="ri-close-line"></i></div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>