<section class="services" id="services">
    <div class="content">
        <h3>Services</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="img">
                        <img
                            loading="lazy"
                            src="img/camera.jpg"
                            alt="Photography" />
                    </div>
                    <div class="body">
                        <h4>Photography</h4>
                    </div>
                    <div class="footer">Price from: R450</div>
                </div>
                <div class="col">
                    <div class="img">
                        <img
                            loading="lazy"
                            src="img/videography.jpg"
                            alt="Videography" />
                    </div>
                    <div class="body">
                        <h4>Videography</h4>
                    </div>
                    <div class="footer">Price from: R3000</div>
                </div>
                <div class="col">
                    <div class="img">
                        <img
                            loading="lazy"
                            src="img/editing.jpg"
                            alt="Editing" />
                    </div>
                    <div class="body">
                        <h4>Editing</h4>
                    </div>
                    <div class="footer">Price from: R1500</div>
                </div>
                <div class="col">
                    <div class="img">
                        <img
                            loading="lazy"
                            src="img/podcast.jpg"
                            alt="Podcasts" />
                    </div>
                    <div class="body">
                        <h4>Podcasts</h4>
                    </div>
                    <div class="footer">Price from: R3000</div>
                </div>
            </div>
        </div>
    </div>
</section>