<section class="services" id="services">
    <div class="content">
        <h3>Services</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="img" style="background-image: url(img/camera.jpg);"></div>
                    <div class="body">
                        <h4>Photography</h4>
                    </div>
                    <div class="footer">Price from: R450</div>
                </div>
                <div class="col">
                    <div class="img" style="background-image: url(img/videography.jpg);"></div>
                    <div class="body">
                        <h4>Videography</h4>
                    </div>
                    <div class="footer">Price from: R3000</div>
                </div>
                <div class="col">
                    <div class="img" style="background-image: url(img/editing.jpg);"></div>
                    <div class="body">
                        <h4>Editing</h4>
                    </div>
                    <div class="footer">Price from: R1500</div>
                </div>
            </div>
        </div>
    </div>
</section>