.gallery {
    min-height: 100vh;
    padding: 5px;
    
    @media screen and (min-width: 640px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .item {
        position: relative;
        background-color: #ccc;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 250px;
        margin-bottom: 5px;

        @media screen and (min-width: 640px) {
            min-height: 33.333333%;
            margin-bottom: 0;
        }

        a {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            opacity: 0.3;
            color: $lightGray;
            transition: opacity ease-in-out 0.2s;

            &.image::after, &.video::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($color: $black, $alpha: 0.2);
            }

            &:hover {
                opacity: 1;
            }

            #icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                z-index: 10;
            }

            @media screen and (min-width: 640px) {
                opacity: 0;
            }
        }
    }
}